@model Manager.Models.Diretoria


@using (Html.BeginForm("Update", "Diretorias", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data", id = "frmDiretorias" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.id)
    <div style="height:15px"></div>

    <div class="form-group">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">Nome</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            @Html.TextBoxFor(model => model.diretoria, new { @class = "form-control input-sm", maxlength = "50" })
        </div>
        <div class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
            @Html.ValidationMessageFor(model => model.diretoria)
        </div>
    </div>

    @*<div class="form-group" id="divmultiple">
        <label class="col-sm-3 col-md-3 col-lg-2 control-label">Regionais</label>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <select multiple id="id_regionais" name="id_regionais" style="width:80%" class="selectme">
                @Html.Raw(@ViewBag.RegionaisList)
            </select>
        </div>
    </div>*@


    <div class="form-actions">
        <button type="submit" class="btn btn-primary btn-sm">Salvar</button>
        <a class="btn btn-warning" href="~/Diretorias">Cancelar</a>
    </div>
}