@model Manager.Models.CanaisDitais_subcat_conteudo

@{

    ViewBag.Title = "Conteúdo";
    string pai = Url.RequestContext.RouteData.Values["idp"].ToString();
    Manager.Repository.CanaisDigitaisRepository Repo = new Manager.Repository.CanaisDigitaisRepository();
    string nome = Repo.LoadCategorias(Convert.ToInt32(pai)).nome;
    int id_canal = Repo.LoadCategorias(Convert.ToInt32(pai)).id_canal_digital;
    string nome_canal = Repo.LoadCanais(id_canal).nome;
}


    <div id="content-header">
        <h1>@ViewBag.Title</h1>
    </div>

    <div id="breadcrumb">
        <a href="~/Home" title="Ir para página inicial" class="tip-bottom"><i class="glyphicon glyphicon-home"></i>Home</a>
        <a href="~/CanaisDigitais">Canais Digitais (@nome_canal)</a>
        <a href="~/CanaisDigitais/Subcategoria/@id_canal">Subcategoria (@nome)</a>
        @if (Model.id > 0)
        {
            <a href="~/CanaisDigitais/Subcategoria/Conteudo/@pai">@ViewBag.Title (@Model.nome)</a>
        }
        <a href="~/CanaisDigitais/Subcategoria/Conteudo/Edit/@Model.id" class="current">@ViewBag.Operacao</a>
        
    </div>

@Html.Partial("../Shared/_ValidatorSummaryBox")

<div class="row">
    <div class="col-12">



        <div class="widget-box">
            <div class="widget-title">
                <span class="icon">
                    <i class="glyphicon glyphicon-th"></i>
                </span>
                <h5>@ViewBag.Operacao</h5>
            </div>
            <div class="widget-content nopadding">
                
                @Html.Partial("Subcategoria/Conteudo/_Form", Model)
                 

            </div>
        </div>
    </div>
</div>





<script>

    $('.selectme').select2()
    $('.clsmenu').removeClass('active')
    $('.mnuusuarios').addClass('active')
    
</script>

@Html.Partial("../Shared/_EditDeleteScript", "CanaisDigitais,Cont")